---
import Image from "astro/components/Image.astro";
import { BASE_URL } from "../utils/base";
const { mode = "light" } = Astro.props;
---

<a href="/" class="logo">
    <img
        src={mode === "light"
            ? `${BASE_URL}img/logo.svg`
            : `${BASE_URL}img/logo-w.svg`}
        alt="logo"
        width="204"
        height="50"
        fetchpriority="high"
        loading="eager"
        class="w-auto h-auto dark:hidden"
    />
    <img
        src={`${BASE_URL}img/logo-w.svg`}
        alt="logo"
        width="204"
        height="50"
        loading="eager"
        class="hidden dark:block"
    />
</a>
